# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage reports
coverage/

# Environment files
.env
.env.local

# Editor directories and files
.vscode/
.idea/
.DS_Store
